{% extends 'rango/base.html' %}

{% block body_block %}
        <div class="hero-unit">
        {% if user.is_authenticated %}
        <h1>Rango says...hello {{ user.username }}</h1>
        {% else %}
        <h1>Rango says...hello word!</h1>
        {% endif %}
        <div class="row-fluid">
            <div class="span6">
                <h2>Top Five Categories</h2>
                {% if categories %}
                	<ul>
                		{% for category in categories %}
                		<li><a href="/rango/category/{{category.url}}">{{category.name}}</a></li>
                		{% endfor %}
                	</ul>

                {% else %}
                	<strong>No categories at present.</strong>
                {% endif %}
            </div>
            <div class="span6">
                <h2>Top Five Pages</h2>
                {% if pages %}
                    <ul>
                        {% for page in pages %}
                        <li><a href="{{page.url}}">{{page}}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>No pages at present.</strong>
                {% endif %}
            </div>
        </div>
        </div>
{% endblock %}
